

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.form-container label {
  padding: 10px;
}

.form-container label input {
  padding-left: 5px;
}

.form-container .button {
  padding: 10px;
  background-color: rgb(88, 86, 86);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.form-container .button:hover {
  background-color: red;
}